/* index.css */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #ffffff; /* Default light background */
  color: #333333; /* Default light text color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
